body{

  background-color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{

  scroll-behavior: smooth;

}

* {
  
  box-sizing:border-box;

}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }

.cont{
  margin: 0 auto;
  max-width:80%;

}

.fadee {
  opacity: 1;
}

.columns1 {

  background-color: yellow;
  column-count: 2;
  display: inline-block;

}

.columns2{

  background-color: darkblue;
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 2%;
  padding-bottom: 3%;
  word-spacing: 100px;

}

.columns3{
padding: 5% 0 5% 0;
color: yellow;
background-color: darkblue;

}

.columns4{
  display: flex;
  text-align: center;
  background-color: darkblue;
  column-count: 2;
  justify-content: space-between;
  min-height: 300px;
}


.columns5{
  display: flex;
  text-align: center;
  background-color: darkblue;
  column-count: 2;
  justify-content: space-between;
  padding: 0 0 5% 0;
  min-height: 400px;
}

h2{

  color: white;
  text-shadow: 2px 2px 8px black;

}

.columns6{
  text-shadow: 2px 2px 8px black;
  background-color: darkblue;
  color: white;
  font-size: 30px;
  text-align: center;
  padding: 5% 2% 5% 2%;
  
}

.columns7{
  padding: 2% 0 2% 0;
  background-color: darkblue;

}

.columns8{
  padding: 5% 0 5% 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  background-color: darkblue;
  margin: 0 0 0% 0;
  min-height: 400px;


}

.columns9{

  padding: 2% 0 2% 0;
  text-align: center;
  background-color: yellow;
  color: darkblue;
  text-shadow: 2px 2px 8px  rgb(0, 0, 110);
  font-weight: bold;
  margin: 0% 0 5% 0;
}

.col14{
  padding-top: 1.5%;

}


.span1{
  cursor: pointer;
  word-spacing: normal;
  display: inline-block;
  text-decoration: none;
}

.span1::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: white;
  transition: width .3s;
}

.span1:hover::after {
  width: 100%;
  transition: width .3s;
}

.span3{
  color: white;
  font-size: 15px;
  vertical-align: middle;

}

.col2{
  padding-top: 7%;
  text-align: center;
  color: darkblue;
  margin: 0;

}



.col4{
  padding: 1% 0 1% 0;
  margin: 0% 30% 0% 30%;
  text-align: center;
  background-color: darkblue;
  border: 2px solid rgb(0, 0, 110);
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 8px 8px 8px black;
  font-weight: bold;
  font-size: 24px;

}
.col5{
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 8px 8px 8px black;
  width: 35%;
  display: block;
  margin: 0% 4% 2% 8%;
  padding: 2%;
  border-radius: 5%;
  background-image: url(tehnickipregled.jpg);

}

.col5:hover{
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  transition-timing-function: ease;
  transition: ease .3s;
  margin: 0% 4% 2% 6.5%;
  width: 37.5%;
  cursor: pointer;

}

.p2{

  border: white 2px solid;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 18px;
}

.col5:hover .p2{

  border: black 2px solid;
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;

}

.col6{
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 8px 8px 8px black;
  width: 35%;
  margin: 0% 8% 2% 4%;
  display: block;
  padding: 2% 2% 2% 2%;
  background-image: url(zelenikarton.webp);
  border-radius: 5%;
} 

  .ul1{
    font-weight: bold;
    font-size: 18px;

  }
  li .span2{

    position: relative;
    left: -7%;

  }

.col6:hover{
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  transition-timing-function: ease;
  transition: ease .3s;
  margin: 0% 7% 2% 4%;
  width: 37.5%;
  cursor: pointer;
  

}

.col7{
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 8px 8px 8px black;
  width: 35%;
  margin: 0% 4% 2% 8%;
  padding: 2% 2% 2% 2%;
  display: block;
  background-image: url(registracijavozila.jpg);
  background-size:cover;
  border-radius: 5%;
} 

.col7:hover{
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  transition-timing-function: ease;
  transition: ease .3s;
  margin: 0% 4% 2% 6.5%;
  width: 37.5%;
  cursor: pointer;

}

.col8{
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 8px 8px 8px black;
  width: 35%;
  margin: 0% 8% 2% 4%;
  padding: 2% 2% 2% 2%;
  display: block;
  background-image: url(prenosvlasnistva.jpg);
  background-size: cover;
  border-radius: 5%;
}

.col8:hover{
  color: black;
  text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
  transition-timing-function: ease;
  transition: ease .3s;
  margin: 0% 7% 2% 4%;
  width: 37.5%;
  cursor: pointer;

}


.col9{
  max-width: 88%;
  margin: 0 auto;
  box-shadow: 8px 8px 7px black;
  background-image: url(jarkom.jpg);
  background-size: cover;
  background-position: center;
  padding: 5% 2% 5% 2%;
  font-weight: bold;

}

.col10{
  background-color: darkblue;
  border: 2px solid rgb(0, 0, 110);
  color: white;
  text-shadow: 2px 2px 8px black;
  box-shadow: 8px 8px 8px black;
  padding: 2% 0 2% 0;
  margin: 0% 30% 0% 30%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;

}


.col12{
  font-weight: bold;
  box-shadow: 8px 8px 8px black;
  background-image: url(kartica.jpg);
  background-size: cover;
  margin: 0 0 0 7.5%;
  padding: 2%;
  width: 40%;
  background-position: center;


}

.col13{
  font-weight: bold;
  box-shadow: 8px 8px 8px black;
  background-image: url(cekovi.jpg);
  background-size: cover;
  margin: 0 7.5% 0 0;
  padding: 2%;
  width: 40%;
  background-position: center;
}

/* *//* *//* *//* *//* *//* *//* *//* paragraph */

p{
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px black;

}


.fa-level-up-alt{
    position: fixed;
    top: 85%;
    left: 90%;
    color: yellow;
    background-color: darkblue;
    padding: 1.75%;
    border:yellow double 1px;
    border-radius: 50%;
}

.fa-instagram{

  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: pink;
  font-weight: bold;
  padding: 1% 1.25%;

}

.fa-facebook{
  color: white;
  background-color: darkblue;
  padding: 1% 1.5% 1% 1.5%;
  font-weight: bold;
  margin-left: 5%;
}

.fa-phone-square{
  cursor: pointer;
  font-weight: bold;
  color:black;
  background-color:grey;
  padding: 1%;
  margin-right: 5%;


}

.fa-automobile1{
  border: white solid 4px;
  padding: 1%;
  color: white;
  border-radius: 50%;
  margin-right: 2%;
  
}

.fa-automobile2{
  border: white solid 4px;
  padding: 1%;
  color: white;
  border-radius: 50%;
  margin-left: 2%;
  
}

.fa-gears1{
  text-shadow: none;
  border: darkblue double 10px;
  padding: 2%;
  color: darkblue;
  background-color: yellow;
  border-radius: 50%;

}

.fa-bus1{
  text-shadow: none;
  border: darkblue double 10px;
  padding: 2% 2.90% 2% 2.9%;
  color: darkblue;
  background-color: yellow;
  border-radius: 50%;

}

.fa-automobile3{
  text-shadow: none;
  border: darkblue double 10px;
  padding: 2%;
  color: darkblue;
  background-color: yellow;
  border-radius: 50%;

}

.fa-handshake-o1{
  text-shadow: none;
  border: darkblue double 10px;
  padding: 2.5% 2% 2.5% 2%;
  color: darkblue;
  background-color: yellow;
  border-radius: 50%;

}

.fa-credit-card1{

  margin-right: 2%;
}

.fa-credit-card2{

  margin-left: 2%;
}

.logo{
  max-width: 30%;
  padding-top: 0.5%;
  padding-left: 0.5%;
}

/* Slideshow container */
.slideshow-container {
  margin: 0 auto;
  max-width:80%;
  position: relative;
  margin: auto;
  background-color: darkblue;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides1{
  display: block;
  z-index: -1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: yellow;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: darkblue;
  color: white;
}

/* Caption text */
.text {
  box-shadow: 8px 8px 8px black;
  padding-top: 2%;
  position: absolute;
  bottom: 7.5%;
  right: 55%;
  width: 100%;
  text-align: center;
  font-size: 30px;
  width: 40%;
  height: 200px;
  border-radius: 5%;
  font-weight: bold;
  color: darkblue;
  text-shadow: 1px 0 0 rgb(48, 48, 135), 0 -1px 0 rgb(48, 48, 135), 0 1px 0 rgb(48, 48, 135), -1px 0 0 rgb(48, 48, 135);
  background-color: yellow;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.text2 {

  font-size: 30px;
  padding-top: 5%;
  padding-left:1%;
  padding-right: 1%;
}

.p1{
  font-size: 25px;
  margin-left:2%;
  margin-right: 2%;
  margin-top: 5%;
}



/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

img{
  max-width: 100%;
  max-height: 500px;
  
}

.columns10{
    border-top: 5px solid rgb(207, 207, 0);
    font-weight: bold;
    text-align: center;
    margin: 0% 0 0% 0;
    padding: 2% 0 2% 0;
    color: darkblue;
    background-color: yellow;

}

.radnovreme{
  min-height: 200px;
  background-color: darkblue;
  padding: 2% 0 2% 0;
  display: flex;
  justify-content: space-between;
  padding: 5% 0;
}


.col15{

  box-shadow: 8px 8px 8px black;
  padding: 2% 0 2% 0;
  margin: 2% 30% 2% 30%;
  text-align: center;
  background-color: darkblue;
  border: 2px solid rgb(0, 0, 110);
  color: white;
  text-shadow: 2px 2px 8px black;
  font-weight: bold;
  font-size: 30px;
}

.marker1{
  margin-right: 2%;
}

.marker2{
  margin-left: 2%;
}

.mapa{
  text-align: center;
}

.col16{
background-color: darkblue;
}

.col17{
  padding-top: 2%;
  font-weight: bold;
  box-shadow: 8px 8px 8px black;
  margin: 0 0 0 5%;
  text-align: center;
  width: 25%;
  background-color: darkblue;
  border: 2px solid rgb(0, 0, 110);
  color: white;
  text-shadow: 2px 2px 8px black;

}

.col18{
  padding-top: 2%;
  font-weight: bold;
  box-shadow: 8px 8px 8px black;
  text-align: center;
  width: 25%;
  background-color: darkblue;
  border: 2px solid rgb(0, 0, 110);
  color: white;
  text-shadow: 2px 2px 8px black;
}

.col19{
  padding-top: 2%;
  font-weight: bold;
  box-shadow: 8px 8px 8px black;
  margin: 0 5% 0 0;
  text-align: center;
  width: 25%;
  background-color: darkblue;
  border: 2px solid rgb(0, 0, 110);
  color: white;
  text-shadow: 2px 2px 8px black;
  
}

.col20{
  display: flex;
  justify-content:space-between;
  width: 100%;
}

.col21{

  display: flex;
  justify-content:space-between;
  width: 100%;
}

#ime {

  margin-right: 10%;

}

#telefon{

  margin-right: 10%;

}

.fa-phone{

  margin-right: 2%;

}

.fa-clock-o{

  margin-right: 2%;

}

.fa-envelope{

  margin-right: 2%;

}

.kontakt{
padding: 2% 0;
background-color: darkblue;
text-align: center;

}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  background-color: white;
  border: 2px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-shadow: 8px 8px 8px black;
}

input[type=submit] {
  background-color: white;
  font-weight: bold;
  color: darkblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid black;
  box-shadow: 8px 8px 8px black;
}

input[type=submit]:hover {
  background-color: darkblue;
  color: white;
  border: 2px solid rgb(43, 43, 153);
}

.container {
  margin: 0 auto;
  border-radius: 5px;
  background-color: darkblue;
  padding: 2%;
  width: 80%;
}

.columns11{
  font-weight: bold;
  color: darkblue;
  text-shadow: 2px 2px 8px rgb(46, 46, 135);
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 5% 0 0% 0;
}

.col22{
  box-shadow: 8px 8px 8px black;
  border: 2px solid rgb(213, 213, 0);
  background-color: yellow;
  text-align: center;
  width: 27.5%;
  margin: 0 0 0 5%;
  padding: 2% 0 2% 0;

}

.col23{
  box-shadow: 8px 8px 8px black;
  border: 2px solid rgb(213, 213, 0);
  background-color: yellow;
  text-align: center;
  width: 27.5%;
  padding: 2% 0 2% 0;
}

.col24{
  text-align: center;
  box-shadow: 8px 8px 8px black;
  border: 2px solid rgb(213, 213, 0);
  background-color: yellow;
  text-align: center;
  width: 27.5%;
  margin: 0 5% 0 0;
  padding: 2% 0 2% 0;
}



.topnav {
  overflow: hidden;
  transition: height 300ms linear;
  background-color: darkblue;
}

.topnav a {
  overflow: hidden;
  transition: height 300ms linear;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.topnav a:hover {
  overflow: hidden;
  transition: height 300ms linear;
  background-color: darkblue;
  text-shadow: 2px 2px 8px black;
}


.topnav .icon {
  overflow: hidden;
  transition: height 300ms linear;
  display: none;
}


@media only screen and (max-width: 3000px) and (min-width: 1900px)  {

.cont{

  max-width: 1500px;

}

img{

  max-width: 1500px;

}

.slideshow-container{

  max-width: 1500px;

}

}

@media only screen and (max-width: 1200px){

.text{

  box-shadow: 8px 8px 8px black;
  padding-top: 2%;
  position: absolute;
  bottom: 10%;
  right: 55%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  width: 35%;
  height: 150px;
  border-radius: 5%;
  margin: 0 2%;

}

.text2{

  padding-top: 5%;


}

.p1{

  font-size: 19px;

}

.columns6{

  font-size: 24px;

}

.col9{

max-width: 85%;

}

.col10{

  font-size: 24px;


}

.columns8{

  min-height: 350px;

}

.col14{

  padding-top: 1%;

}

.fa-level-up-alt{

  position: fixed;
    top: 85%;
    left: 91%;

}

}

@media only screen and (max-width: 1024px){


  .topnav a:not(:last-child) {display: none;}
  .topnav a.icon {
    overflow: hidden;

    float: right;
    display: block;
  }



  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    color: white;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    border: 1px solid rgb(0, 0, 104);
    overflow: hidden;
    float: none;
    display: block;
    text-align: left;
  }

  .span3{
    display: none;
  }

  .col2{
    font-size: 35px;
    padding-top: 10%;
    word-spacing: 20px;
    overflow: hidden;
    float: none;
    display: block;
    text-align: left;

  }

  .logo{

    max-width: 36%;

  }


  .fa-phone-square{

    margin-right: 2.5%;

  }

  .fa-facebook{
    
    margin-left: 2.5%;
  }

  .col4{
    margin: 0% 20% 0% 20%;
    font-size: 24px;
  
  }
  
  .fa-automobile1{
  
  border: darkblue double 8px;
  
  }
  
  .fa-automobile2{
  
    border: darkblue double 8px;
    
    }

    .text{
      box-shadow: 8px 8px 8px black;
      padding-top: 1%;
      padding-bottom: 2%;
      position: absolute;
      bottom: 10%;
      right: 55%;
      width: 100%;
      text-align: center;
      font-size: 20px;
      width: 35%;
      height: 150px;
      border-radius: 5%;
      margin: 0 1%;
    
    }
    
    
    .p1{
    
      font-size: 18px;
    
    }
    
    
    .col9{
    padding-top: 0;
    max-width: 85%;
    
    }
    
    .col5{

      background-position: top;

    }

    .col7{

      background-position: center;

    }

    .col8{

      background-position: center;

    }

    .col10{

      font-size: 20px;
    
    }

    .columns8{

      min-height: 300px;
    
    }
  
    
}


@media only screen and (max-width: 790px){

  .logo{

    max-width: 50%;

  }

  .fa-level-up-alt{

    display: none;

  }

  .cont{

    max-width: 100%;
  }

  .slideshow-container{

    max-width: 100%;

  }



  .text{
    display: none;

  }

  .prev , .next {

    display: none;

  }



  h1{

    font-size: 24px;

  }

}

@media only screen and (max-width: 768px){

  .topnav a {
  
    padding: 4% 4%;

  }

  .fa-phone-square{

    margin-right: 2.5%;

  }

  .fa-facebook{
    
    margin-left: 2.5%;
  }

  .col4{

    font-size: 22px;
  
  }
  
  .fa-automobile1{
  
  border: darkblue double 8px;
  
  }
  
  .fa-automobile2{
  
    border: darkblue double 8px;
    
    }
    
    .col9{
    background-size: cover;
    background-position: left;
    max-width: 85%;
    
    }
    

    .col10{
      margin: 0% 20% 0% 20%;
      font-size: 20px;
    
    }

    .columns8{

      min-height: 300px;
    
    }
    
    .p3{

      font-size: 16px;

    }

}

@media only screen and (max-width: 660px){

  .columns4{
    padding: 0;
    margin: 0;
    column-count: 1;
    display: block;


  }

  .columns5{
    padding: 0;
    margin: 0;
    column-count: 1;
    display: block;

  }

  .columns6{
    padding: 2% 2% 4% 2% ;
    margin: 0;
    column-count: 1;
    display: block;

  }

  .col5{
    color: white;
    text-shadow: 2px 2px 8px black;
    box-shadow: 8px 8px 8px black;
    width: 80%;
    border-radius: 5%;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
    background-image: url(tehnickipregled.jpg);
    min-height: 275px;
  
  }
  
  .col5:hover{
    color: black;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
    transition-timing-function: ease;
    transition: ease .3s;
    width: 85%;
    cursor: pointer;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
  
  }
  
  .col6{
    color: white;
    text-shadow: 2px 2px 8px black;
    box-shadow: 8px 8px 8px black;
    width: 80%;
    background-image: url(zelenikarton.webp);
    border-radius: 5%;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
    min-height: 275px;
  } 
  
  .col6:hover{
    color: black;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
    transition-timing-function: ease;
    transition: ease .3s;
    width: 85%;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
  
  }
  
  .col7{
    color: white;
    text-shadow: 2px 2px 8px black;
    box-shadow: 8px 8px 8px black;
    width: 80%;
    display: block;
    background-image: url(registracijavozila.jpg);
    background-size:cover;
    border-radius: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
    min-height: 275px;
  } 
  
  .col7:hover{
    color: black;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
    transition-timing-function: ease;
    transition: ease .3s;
    width: 85%;
    cursor: pointer;
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;

  }
  
  .col8{
    color: white;
    text-shadow: 2px 2px 8px black;
    box-shadow: 8px 8px 8px black;
    width: 80%;
    display: block;
    background-image: url(prenosvlasnistva.jpg);
    background-size: cover;
    border-radius: 5%;
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 4% 2% 4% 2%;
    min-height: 275px;
  }
  
  .col8:hover{
    color: black;
    text-shadow: 1px 0 0 white, 0 -1px 0 white, 0 1px 0 white, -1px 0 0 white;
    transition-timing-function: ease;
    transition: ease .3s;
    width: 85%;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;

  }

  .col10{

    font-size: 18px;
  
  }

  .columns11{
    font-weight: bold;
    color: darkblue;
    text-shadow: 2px 2px 8px rgb(46, 46, 135);
    background-color: yellow;
    display: block;
    text-align: center;
    padding: 5% 0 5% 0;
  }

  .col22{
    width: 60%;
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;


  }

  .col23{ 

    width: 60%;
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
  }

  .col24{

    width: 60%;
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 4% 2%;

  }

  .col14{
    font-size: 16px;
    padding: 4% 0;

  }

}

@media only screen and (max-width: 520px){

  .logo{

    max-width: 60%;

  }

  .col2{
    font-size: 35px;
    padding-bottom: 7%;
    word-spacing: 20px;
    overflow: hidden;
    float: none;
    display: block;
    text-align: left;
    

  }

  .fa-facebook{

    padding: 1% 4%;

  }

  .fa .fa-instagram{

  }

  .col10{
    margin: 0% 20% 0% 20%;
    
  
  }

  .columns8{
    display: inherit;
    column-count: 1;
    padding: 5% 0 5% 0;
    text-align: center;
    background-color: darkblue;

  
  
  }

  .col12{
    margin-top: 2%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
    width: 60%;
    background-position: center;
    min-height: 200px;
  
  }
  
  .col13{
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 2% 2% 2%;
    width: 60%;
    background-position: center;
    min-height: 200px;
  }

}

@media only screen and (max-width: 480px){


}

@media only screen and (max-width: 319px){



}
